html, body{height: 100%;}
body{font-family: 'Raleway', sans-serif; font-size: 1em;}
*{outline: 0; border: 0; margin: 0;}
.container{display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 100%;}
form{font-size: 1em; width: 500px; text-align: center; margin-bottom: 2em;}
form h2{font-weight: 200; margin-bottom: 1em; font-size: 2.5em;}
.wrap-select{width: inherit;}
select{border:1px solid #dddddd; padding: 0.8em 1.5em; color: #666; margin-bottom: 1em; font-size: 1em; width: inherit; -webkit-appearance: none; -moz-appearance: none; appearance: none; background: url(../img/chevron.png) no-repeat center right 10px / 18px auto; display: none;}
select:first-of-type{display: block;}
.button-group{display: none;}
.button-group button{background:url(../img/arrow.png) #99B433 no-repeat center right 30px / 28px auto; color: #fff; padding: 1em 4em 1em 3em; text-align: center; border-radius: 5px; text-transform: uppercase; font-size: 1em;} 
.button-group > span{width: 0; display: inline-block; overflow: hidden;}
.button-group > span > span{background:url(../img/reload.png) transparent no-repeat center right / 30px auto; cursor: pointer; padding:0 35px;}
.message{display: none;}
.error{background-color: #ff8888; border-radius:5px; color: #fff; padding: 20px 10px; margin-bottom: 15px;}
.outer-wrap{width: 280px; height:0; margin:0 auto; overflow: hidden;}
.result{text-align: center; font-size: 1em; width: 280px; height: 280px; color: #fff; border-radius: 50%; position: relative; top: 10px}
.result .inner-wrap{padding: 2em;}
.result h2{font-size: 2em; margin-bottom: 0.5em; margin-top: 0.5em}
.result p{font-size: 1.1em; margin-bottom: 2em;}
.result .btn{border-radius: 3px; color: #333; background-color: #fff; padding: 1em 2em; font-size: 0.8em; text-transform: uppercase; font-weight: 700; letter-spacing: 1px; text-decoration: none;}
.result:before{content: ''; display: block; width: 0; height: 0; border-left: 10px solid transparent; border-right: 10px solid transparent; position: absolute; top: -8px; left: 0; right: 0; margin: 0 auto;}

#great .result:before{border-bottom: 10px solid #5485cf;}
#sorry .result:before{border-bottom: 10px solid #d54357;}
#great .result{background-color: #5485cf;}
#sorry .result{background-color: #d54357;}
